@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <h2>Личный кабинет арендатора</h2>
</div>

<div class="text-center">
        <a class="btn btn-danger btn-lg" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
        <a class="btn btn-success btn-lg" asp-area="Identity" asp-page="/Account/Login">Войти</a>
</div>
