@model TenantAccount.Data.Entities.Profile

@{
    ViewData["Title"] = "Удалить";
}

<h1>Удалить</h1>

<h3>Вы уверены, что хотите удалить эту запись?</h3>
<div>
    <h4>Профиль</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kpp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kpp)
        </dd>
       
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
